    <main class="main" id="main">
      <div class="home-content">
        <h3 class="text-gretting">Welcome to my portfolio</h3>
        <h1 class="text-name-hero">I'm Vitalii Sapiak</h1>

        <div class="text-animate">
          <h2>Fron-end Developer</h2>
       </div>

       <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eveniet rem pariatur id vel, necessitatibus sint maiores eligendi voluptatibus labore provident dolores dolorem molestias nemo sunt? Modi quisquam at consectetur tenetur deleniti soluta nostrum recusandae, enim fuga rem a voluptatibus!</p>

       <div class="btn-content-box">
        <a href="mailto:vsapiak5@gmail.com" class="btn-message">Hire Me Now!</a>

       <a href="/document/CV - Vitalii Sapiak.pdf" target="_blank" class="btn-message d-CV">Download CV <i class="bx bx-download"></i></a>

       </div>
          <div class="home-social">
            <ul>
              <li>
                <a href="#"><i class="bx bxl-instagram"></i></a>
                <span></span>
              <li>
              <li>
                <a href="#"><i class="bx bxl-github"></i></a>
                <span></span>
              <li>
              <li>
                <a href="#"><i class="bx bxl-linkedin"></i></a>
                <span></span>
              <li>
              <li>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <span></span>
              <li>
              <li>
                <a href="#"><i class="bx bxl-facebook"></i></a>
                <span></span>
              <li>
            </ul>
          </div>
      </div>
      <div class="home-img">
        <img class="img-hero" name="AboutMe" src="./img/AboutMe.jpg" alt="Vitalii_Sapiak" width="400px" height="450px">
        <p>I'm Begginer Front-end Developer</p>
      </div>

</main> 